.footer{
    margin: 0 13vw;
    margin-top: 10px;
}
.footer__copyright{
    font-family: "inter", Arial, Helvetica, sans-serif;
    color:#777;
}

@media (max-width:1024px) {
    .footer{
        margin:0 7vw;
    }
}
@media (max-width:544px){
    .footer{
        margin: 0 10vw 20px;
    }
    .footer__copyright{
        margin: 0;
        font-size: 10px;
    }
}
