.form__container{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;  
    
}
.form__block{
    background-color: ghostwhite;
    border-radius: 10px;
    width:50vw;
    height: auto;
    padding:30px;
}
.popup__open {
  display: flex;
  z-index: 1;
}
.form__close{
    margin: 0;
    position: absolute;
    top: 90px;
    right: 110px;
    background: none;
    border: none;
    font-size: 60px;
    color: ghostwhite;
    cursor: pointer;
    z-index: 99999;
}
.form__title{
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: black;
}
.form__fieldset{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    border: none;
    gap:15px;
}
.form__input{
    background-color: transparent;        
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    font-size: 16px;
    outline: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.form__input-error{
    color:red;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    opacity: 0;
}

.form__input-error_active{
    opacity: 1;
}

.form__input_type_error {
  border-bottom: 1px solid red;
}

.form__button{
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background: #000;
    border-color: #000;
    color: #fff;
    cursor: pointer;
}
.form__button:hover{
    opacity: .7;
}
.form__button_disabled{
    background: #f8f8f8;
    color: #999;
    cursor: not-allowed;
    border-color: #999;
}

@media (max-width:544px){
    .form{
        width: 100%;
        height: 100%;
    }
    .form__container{
        width: auto;
        max-width: 70vw;
        padding: 30px 30px;
    }
    .form__close{
        right: -40px;
    }
    .form__title{
        margin:0;
        margin-bottom: 55px;
    }
    .form__button{
        width: 50vw;
    }
}