.form{
    display:none;
    position: fixed;
    top:0;
    left:0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998; 

}
#edit-profile__form{
    display: none;
}
#new-element__form{
    display: none;
}
.form__container{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    padding: 40px;
    border-radius: 10px;
}
.form__close{
    margin: 0;
    position: absolute;
    top: -50px;
    right: -40px;
    background: none;
    border: none;
    font-size: 60px;
    color: ghostwhite;
    cursor: pointer;
}
.form__title{
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: black;
}
.form__fieldset{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    border: none;
    gap:15px;
}
.form__input{
    background-color: transparent;        
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    font-size: 16px;
    outline: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
.form__button{
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background: #000;
    border-color: #000;
    color: #fff;
    cursor: pointer;
}
.form__button:hover{
    opacity: .7;
}
#new-element__button.form__button:disabled{
    background: #f8f8f8;
    color: #999;
    cursor: not-allowed;
    border-color: #999;
}
#edit-profile__button.form__button:disabled{
    background: #f8f8f8;
    color: #999;
    cursor: not-allowed;
    border-color: #999;
}

@media (max-width:544px){
    .form{
        width: 100%;
        height: 100%;
    }
    .form__container{
        width: auto;
        max-width: 70vw;
        padding: 30px 30px;
    }
    .form__close{
        right: 0vw;
    }
    .form__title{
        margin:0;
        margin-bottom: 55px;
    }
}