body{
    margin:0;
    padding:0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page{
    margin:0;
    width: 100%;
    line-height: 20px;
    max-width: 1280px;
    min-width: 320px;
}

@media (max-width:544px){
    .page{
        padding: 0 2vw;
    }
}