@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(../bloks/page.css);
@import url(../bloks/header.css);
@import url(../bloks/profile.css);
@import url(../bloks/element.css);
@import url(../bloks/footer.css);
@import url(../bloks/forms.css);